# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
logs
/modules
test-result
server.pid
*.eml
/dist/
.cache
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
